<app-header></app-header>
<app-navbar [pagina]="nombre"></app-navbar>
<main class="pt-4 px-3">
    <h1>Avisos Legales Optimal Gym</h1>
    <p>
        Optimal Private Gym MC.CB con CIF E10884393, dirección C/ Vicente delgado algaba 104 (Badajoz) e inscrita en el Registro Mercantil de Badajoz, 
        no puede asumir ninguna responsabilidad derivada del uso incorrecto, inapropiado o ilícito de la información aparecida en la páguina web del gimnasio.
    </p>
    <p>
        Con los límites establecidos en la ley, la empresa no asume ninguna responsabilidad derivada de la falta de veracidad, integridad, actualización y 
        precisión de los datos o informaciones que se contienen en sus páginas de Internet.
    </p>
    <p>
        Las páginas de Internet de www.optimalprivategym.es pueden contener enlaces (links) a otras páginas de terceras partes que www.optimalprivategym.es 
        no puede controlar. Por lo tanto, www.optimalprivategym.es no puede asumir responsabilidades por el contenido que pueda aparecer en páginas de terceros, 
        ni por la gestión de sus políticas de privacidad, ni cookies.
    </p>
    <p>
        Los textos, imágenes, animaciones, software y el resto de contenidos incluidos en este website son propiedad exclusiva de www.optimalprivategym.es
         o sus licenciantes. Cualquier acto de transmisión, distribución, cesión, reproducción, almacenamiento o comunicación pública total o parcial,
        debe contar con el consentimiento expreso de www.optimalprivategym.es.
    </p>
    <p>
        Las imágenes publicadas en la web contienen el consentimiento in situ de las personas que aparecen en ellas, en el momento de su realización.
    </p>
        
    <h2>Política de Privacidad</h2>
    <p>
        <strong>Responsable del tratamiento</strong><br>
        El responsable del tratamiento de los datos personales recogidos a través de esta página web es de Optimal Private Gym MC. CB,
        con domicilio social en C/ Vicente Delgado Algaba 104 y número de CIF E10884393.
    </p>
    <p>
        <strong>Finalidad del tratamiento</strong><br>
        
        La recogida y tratamiento de los datos personales de los usuarios se realiza conforme a la Ley Orgánica 3/2018, de 5 de diciembre,
        de Protección de Datos Personales y garantía de los derechos digitales (LOPDGDD).
        
        Los datos personales recogidos a través de esta página web se utilizan para las siguientes finalidades:
        
        Responder emails a los usuarios que se pongan en contacto con el gimnasio para la gestión de cualquier solicitud de información o 
        consulta sobre nuestros servicios profesionales. Para ello, se recoge la dirección de correo electrónico del usuario,
        una vez que este se pone en contacto por medio del correo electrónico.
    </p>
    <p>
        <strong>Terceros destinatarios</strong>
        
        Los datos personales recogidos a través de esta página web no se cederán a terceros, salvo en los siguientes casos:
        
        Cuando el usuario preste su consentimiento expreso para ello. Por ejemplo, si el usuario solicita que sus datos
        personales sean cedidos a un entrenador personal.
        
    </p>
    <p>
        <strong>Derechos de los usuarios</strong><br>
        Los usuarios tienen los siguientes derechos en relación con sus datos personales:<br>
        Derecho de acceso: Los usuarios tienen derecho a obtener confirmación sobre si los datos personales que les conciernan 
        están siendo tratados y, en su caso, a acceder a los mismos.
        Derecho de rectificación: Los usuarios tienen derecho a solicitar la rectificación de los datos personales inexactos o 
        incompletos que les conciernan.
        Derecho de supresión: Los usuarios tienen derecho a solicitar la supresión de sus datos personales cuando, entre otros motivos, 
        los datos ya no sean necesarios para los fines para los que fueron recogidos.
        Derecho a la limitación del tratamiento: Los usuarios tienen derecho a solicitar la limitación del tratamiento de sus datos
         personales cuando, entre otros motivos, el tratamiento sea ilícito o el usuario se oponga al tratamiento.
        Derecho a la portabilidad de los datos: Los usuarios tienen derecho a recibir los datos personales que les conciernan 
        en un formato estructurado, de uso común y lectura mecánica, y a transmitirlos a otro responsable del tratamiento cuando, 
        entre otros motivos, el tratamiento se base en el consentimiento.
        Derecho de oposición: Los usuarios tienen derecho a oponerse, en cualquier momento, al tratamiento de sus datos personales, 
        incluida la elaboración de perfiles.
        Para ejercer estos derechos, los usuarios pueden ponerse en contacto con el responsable del tratamiento a través de la dirección 
        de correo electrónico optimalgym02@gmail.com.
    </p>
    <p>
        <strong>Plazo de conservación de los datos</strong><br>
        Los datos personales recogidos a través de esta página web se conservarán durante el tiempo necesario para responder 
        a las solicitudes de los usuarios y durante los plazos establecidos en la normativa aplicable.
        
    </p>
    <p>
        <strong>Canal de comunicación y soporte</strong><br>
        Las personas interesadas podrán comunicar cualquier duda sobre el tratamiento de sus datos de carácter personal o 
        interpretación de nuestra política en la siguiente dirección: optimalgym02@gmail.com.
        
    </p>
    <p>
        <strong>Seguridad de los datos</strong><br>
        El responsable del tratamiento ha adoptado las medidas técnicas y organizativas necesarias para garantizar 
        la seguridad de los datos personales recogidos a través de esta página web, evitando su pérdida, alteración, 
        tratamiento o acceso no autorizado.
        
    </p>
    <p>
        <strong>Cambios en la política de privacidad</strong><br>
        El responsable del tratamiento se reserva el derecho a modificar esta política de privacidad en cualquier momento. 
        Los cambios se publicarán en esta página web.
        
    </p>
    <p>
        <strong>Aceptación de la política de privacidad</strong><br>
        El uso de esta página web implica la aceptación de esta política de privacidad.
    </p>
    <p>
        <strong>Enlaces a terceros</strong><br>
        
        Esta página web puede contener enlaces a sitios web de terceros. La empresa no es responsable de las 
        políticas de privacidad ni gestión de cookies de estos sitios web. Los usuarios deben leer las políticas 
        de privacidad de estos sitios antes de utilizarlos.
    </p>
    <p>
        Esta política de privacidad se ha redactado teniendo en cuenta las recomendaciones de la 
        Agencia Española de Protección de Datos (AEPD).
    </p>
    <h2>Política de Cookies</h2>
    <p> 
        <strong>¿Qué son las cookies?</strong><br>
        Las cookies son archivos que se pueden descargar en su equipo a través de las páginas web. 
        Son herramientas que tienen un papel esencial para la prestación de numerosos servicios de la sociedad de la información. 
        Entre otros, permiten a una página web almacenar y recuperar información sobre los hábitos de navegación de un 
        usuario o de su equipo y, dependiendo de la información obtenida, se pueden utilizar para reconocer al usuario y
        mejorar el servicio ofrecido.
    </p>
    <p>
        Esta página web no recopila cookies de ningún tipo.
    </p>
    <p>
        Al contener enlaces a otras páginas webs de terceros, www.optimalprivategym.com no se hace responsable del uso,
        tratamiento ni gestión que estas puedan hacer de las cookies recopiladas por estas websites de terceros.
    </p>
</main>
<app-footer></app-footer>