div{
    padding: 1.5rem;
}

.bienvenidos{
    font-size: 2.5rem;
}

h1{
    
    font-weight: bold;
}

i{
    padding: 0 0.5rem;
}

p{
    margin: 0;
    /* padding: 0rem 1.25rem 1.25rem; */
    font-size: 1.35rem;
    text-align: justify;
    /* background-color: pink; */
}

span.color-azul-claro{
    font-weight: bold;
}

.fondo-gris{
    background-color:#6598ff30;
}

img{
    width: 100%;
    border-radius: 0.5rem;
}
