div{
    padding: 1.5rem;
}

h1{
    
    font-weight: bold;
}

p{
    margin: 0;
    /* padding: 0rem 1.25rem 1.25rem; */
    font-size: 1.35rem;
    text-align: center;
    /* background-color: pink; */
}

span.color-azul-claro{
    font-weight: bold;
}

.fondo-gris{
    background-color:#6598ff30;
}