<app-header></app-header>
<app-navbar [pagina]="nombre"></app-navbar>
<main>
  <p>
    ¡Bienvenidos al gimnasio Optimal Private Gym! Somos un centro de fitness enfocado
    en ayudarte a alcanzar tus objetivos de entrenamiento de manera personalizada y efectiva.
  </p>
  <p>
    Nuestro equipo de entrenadores personales altamente capacitados te ayudará a diseñar un
    plan de entrenamiento específico para ti, teniendo en cuenta tus necesidades y objetivos
    individuales. Ya sea que busques perder peso, ganar músculo o mejorar tu rendimiento deportivo,
    estamos aquí para ayudarte a alcanzar tus metas.
  </p>
  <p>
    Además de nuestros servicios de entrenamiento personalizado, ofrecemos una amplia variedad de
    clases dirigidas por instructores expertos. Desde pilates hasta entrenamiento de fuerza, tenemos
    algo para todos los gustos y niveles de habilidad.
  </p>
  <p>
    En nuestro gimnasio, nos enorgullece crear un ambiente amigable y acogedor para nuestros miembros.
    Queremos que te sientas como en casa mientras te enfocas en tu salud y bienestar.
    Nuestras instalaciones están diseñadas para ser cómodas y funcionales, con una amplia variedad de
    opciones de entrenamiento.
  </p>
  <p>
    ¡No esperes más para empezar tu viaje hacia una vida más saludable y activa! Únete a nuestra
    comunidad de fitness en Optimal Private Gym y comienza a alcanzar tus metas de entrenamiento
    hoy mismo.
  </p>




</main>
<app-footer></app-footer>