<app-header></app-header>
<app-navbar [pagina]="nombre"></app-navbar>
<main class="text-center pt-3 px-3">
  <p class="">
    ¡Bienvenidos a <span class="color-azul-claro">Optimal Private Gym</span>! Somos un centro de fitness enfocado
    en ayudarte a alcanzar tus objetivos de entrenamiento de manera personalizada y efectiva.
  </p>
  <p>
    Nuestro equipo de entrenadores personales altamente capacitados te ayudará a diseñar un
    <span class="color-azul-claro" [routerLink]="['/tarifas']">plan de entrenamiento específico</span> para ti, teniendo en cuenta tus necesidades y objetivos
    individuales. Ya sea que busques perder peso, ganar músculo o mejorar tu rendimiento deportivo,
    estamos aquí para ayudarte a alcanzar tus metas.
  </p>
  <p>
    Además de nuestros servicios de entrenamiento personalizado, ofrecemos una amplia variedad de
    <span class="color-azul-claro" [routerLink]="['/actividades']">clases dirigidas</span> por instructores expertos. Desde pilates hasta entrenamiento de fuerza, tenemos
    algo para todos los gustos y niveles de habilidad.
  </p>
  <p>
    En nuestro gimnasio, nos enorgullece crear un <span class="color-azul-claro">ambiente amigable y acogedor</span> para nuestros miembros.
    Queremos que te sientas como en casa mientras te enfocas en tu salud y bienestar.
    Nuestras instalaciones están diseñadas para ser cómodas y funcionales, con una amplia variedad de
    opciones de entrenamiento.
  </p>
  <p>
    ¡No esperes más para empezar tu viaje hacia una vida más saludable y activa! Únete a nuestra
    comunidad de fitness en <span class="color-azul-claro">Optimal Private Gym</span> y comienza a alcanzar tus metas de entrenamiento
    hoy mismo.
  </p>
  <img src="../../../assets/img/3b064153-5a63-4654-955c-63045ff9cdbd.JPG" class="container">
</main>
<app-footer></app-footer>