@import url('http://fonts.cdnfonts.com/css/vomzom');

header{
    background: white;
}

header h1{
    text-transform: lowercase;
    font-family: 'VomZom', sans-serif;
    font-size: 3.5em;
    font-weight: bolder;
    letter-spacing: 0.1em;
}
  
header h3{
    font-size: 1.75em;
    letter-spacing: 0.1em;
    margin-block-start: -0.4em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 1000;
    text-transform: uppercase;
}
