<app-header></app-header>
<app-navbar [pagina]="nombre"></app-navbar>
<main>
    <section>
      <img src="../../../assets/img/IMG_5414.jpg" class="container p-2">
      <img src="../../../assets/img/IMG_5402.jpg" class="container p-2">
      <img src="../../../assets/img/IMG_5427.jpg" class="container p-2">
      <img src="../../../assets/img/IMG_5430.jpg" class="container p-2">
      <img src="../../../assets/img/3b064153-5a63-4654-955c-63045ff9cdbd.JPG" class="container">
    </section>
</main>
<app-footer></app-footer>