<app-header></app-header>
<app-navbar></app-navbar>
<main>
    <p class="m-3 text-center text-uppercase h1">Horario de Clases</p>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button color-azul-oscuro" type="button" data-bs-toggle="collapse" data-bs-target="#lunes" aria-controls="lunes">
              <h3>Lunes</h3>
            </button>
          </h2>
          <div id="lunes" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <table class="table">
                <thead>
                    <tr>
                        <th>Hora</th>
                        <th>Clase</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>09:00</td>
                        <td>Pilates</td>
                    </tr>
                    <tr>
                        <td>10:00</td>
                        <td>Spinning</td>
                    </tr>
                    <tr>
                        <td>11:00</td>
                        <td>Funcional</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>18:00</td>
                        <td>Pilates</td>
                    </tr>
                    <tr>
                        <td>19:00</td>
                        <td>Funcional / Zumba</td>
                    </tr>
                    <tr>
                        <td>20:00</td>
                        <td>Spinning</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button color-azul-oscuro" type="button" data-bs-toggle="collapse" data-bs-target="#martes" aria-expanded="true" aria-controls="martes">
                <h3>Martes</h3>
              </button>
            </h2>
            <div id="martes" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table">
                    <thead>
                        <tr>
                            <th>Hora</th>
                            <th>Clase</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9:00</td>
                            <td>Pilates</td>
                        </tr>
                        <tr>
                            <td>10:00</td>
                            <td>Funcional</td>
                        </tr>
                        <tr>
                            <td>11:00</td>
                            <td>Spinning</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>18:00</td>
                            <td>Spinning / Pilates</td>
                        </tr>
                        <tr>
                            <td>19:00</td>
                            <td>Pilates</td>
                        </tr>
                        <tr>
                            <td>20:00</td>
                            <td>Funcional / Zumba</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button color-azul-oscuro" type="button" data-bs-toggle="collapse" data-bs-target="#miercoles" aria-expanded="false" aria-controls="miercoles">
                <h3>Miércoles</h3>
              </button>
            </h2>
            <div id="miercoles" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table">
                    <thead>
                        <tr>
                            <th>Hora</th>
                            <th>Clase</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9:00</td>
                            <td>Pilates</td>
                        </tr>
                        <tr>
                            <td>10:00</td>
                            <td>Spinning</td>
                        </tr>
                        <tr>
                            <td>11:00</td>
                            <td>Funcional</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>18:00</td>
                            <td>Pilates</td>
                        </tr>
                        <tr>
                            <td>19:00</td>
                            <td>Funcional / Zumba</td>
                        </tr>
                        <tr>
                            <td>20:00</td>
                            <td>Spinning</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button color-azul-oscuro" type="button" data-bs-toggle="collapse" data-bs-target="#jueves" aria-expanded="true" aria-controls="jueves">
                <h3>Jueves</h3>
              </button>
            </h2>
            <div id="jueves" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table">
                    <thead>
                        <tr>
                            <th>Hora</th>
                            <th>Clase</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9:00</td>
                            <td>Pilates</td>
                        </tr>
                        <tr>
                            <td>10:00</td>
                            <td>Funcional</td>
                        </tr>
                        <tr>
                            <td>11:00</td>
                            <td>Spinning</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>18:00</td>
                            <td>Spinning / Pilates</td>
                        </tr>
                        <tr>
                            <td>19:00</td>
                            <td>Pilates</td>
                        </tr>
                        <tr>
                            <td>20:00</td>
                            <td>Funcional / Zumba</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button color-azul-oscuro" type="button" data-bs-toggle="collapse" data-bs-target="#viernes" aria-expanded="false" aria-controls="viernes">
                <h3>Viernes</h3>
              </button>
            </h2>
            <div id="viernes" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table">
                    <thead>
                        <tr>
                            <th>Hora</th>
                            <th>Clase</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9:00</td>
                            <td>Pilates</td>
                        </tr>
                        <tr>
                            <td>10:00</td>
                            <td>Funcional</td>
                        </tr>
                        <tr>
                            <td>11:00</td>
                            <td>Spinning</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        
                        <tr>
                            <td>17:00</td>
                            <td>Funcional Virtual</td>
                        </tr>
                        <tr>
                            <td>18:00</td>
                            <td>Spinning Virtual</td>
                        </tr>
                        <tr>
                            <td>19:00</td>
                            <td>Balance Virtual</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</main>
<app-footer></app-footer>