<nav class="navbar navbar-dark fondo-azul-oscuro sombreado-azul">
    <div class="container-fluid">
      <div class="d-flex">
        <img [routerLink]="['/inicio']" src="../../../../assets/logos/logo-modified.png" style="max-height: 2.5rem;" alt="">
        <!-- <p class="text-capitalize mb-0 ms-3">{{pagina}}</p> -->
      </div>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDropdown" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
</nav>
<div class="collapse sombreado-azul" id="navbarDropdown">
    <div class="d-flex flex-column fondo-azul-claro text-center letra-dropdown py-3">
        <div [routerLink]="['/equipo']">equipo</div><hr/>
        <div [routerLink]="['/actividades']">actividades</div><hr/>
        <div [routerLink]="['/tarifas']">tarifas y promos</div><hr/>
        <div [routerLink]="['/horario']">horario</div>
    </div>
</div>