<div class="card m-3">
    <div class="text-center card-titulo py-4">Tarifa básica</div>
    <div class="text-center card-precio pb-3">*35€</div>
    <div class="text-center card-footer card-descripcion">Acceso a todas nuestras clases e instalaciones. *(+15€ de matrícula)</div>
</div>
<div class="card m-3">
    <div class="text-center card-titulo py-4">Entrenamiento personal</div>
    <div class="text-center card-precio pb-3">69€</div>
    <div class="text-center card-footer card-descripcion">Entrenamiento personalidazo, ajustado a tus necesidades y objetivos.</div>
</div>
<div class="card m-3">
    <div class="text-center card-titulo py-4">Entrenamiento personal</div>
    <div class="text-center card-titulo pb-4">premium</div>
    <div class="text-center card-precio pb-3">89€</div>
    <div class="text-center card-footer card-descripcion">Entrenamiento personalidazo,
        ajustado a tus necesidades y objetivos y además dispondrás de entrada a cualquiera
        de nuestras clases guiadas (pilates, funcional, spinning...).</div>
</div>
<div class="card m-3">
    <div class="text-center card-titulo py-4">Entrenamiento personal en pareja</div>
    <div class="text-center card-precio pb-3">110€</div>
    <div class="text-center card-footer card-descripcion">Entrenamiento personalidazo, ajustado a vuestras necesidades y objetivos (55€ cada uno).</div>
</div>